* {
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 16px;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
}

h2 {
  font-size: 3rem
}

h3 {
  font-size: 2rem
}

p,
a {
  font-size: 1.25rem;
  font-weight: 300
}

a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 200ms;
}

a:hover {
  border-color: #0072bc;
}

.github-ribbon,
.github-ribbon:hover {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  display: block;
  padding: 8px 50px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  color: white;
  background-color: #0074d9;
  position: fixed;
  top: 0;
  width: 100%;
}

@media(min-width: 660px) {
  .github-ribbon,
  .github-ribbon:hover {
    font-size: 13px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 35px;
    width: auto;
    right: -45px;
  }
}

img {
  display: block;
  width: 90%;
  margin: auto
}

pre {
  margin: auto;
  width: 90%;
}

pre code.hljs {
  padding: 15px 25px;
  overflow: scroll
}

.container {
  max-width: 980px;
  margin: auto;
  padding: 10px;
}

.center {
  text-align: center
}
